<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <img src="">
        <p id="balance">Balance: </p>
        <p id="email"></p>
        <button>Log Out</button>
    </header>
    <div class="tradePanel">
        <h1 class="title">
            <div class="panel">
                <p id="availableBalance">Available Balance:</p>
                <div class="tradeInput">
                    <p id="currentPrice">Current Price:</p>
                    <input class="priceInput"></input>
                </div>
                <button>Buy</button>
                <button>Sell</button>
            </div>
        </h1>
    </div>


</body>
</html>