<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/index.css"/>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <title>Document</title>
    <link rel="stylesheet" href="./css/index.css"/>
</head>
<body>
    <div id="messageDiv">
        <p id="message" style="color: green;"><%=message%></p>
        <p id="errorMessage" style="color: red;"><%=errorMessage%></p>
    </div>
    <header>
        <img src="">
        <p id="balance">Balance: <%=totalBalance%></p>
        <p id="email" class="email"><%=account.email%></p>
        <button>Log Out</button>
    </header>